@charset "utf-8";
@import './init.css';

/* LAYOUT */
.container {width:100%;padding-bottom:70px;}

/* HEADER */
.header {display:flex;justify-content:space-between;align-items:center;position:fixed;top:0;right:0;left:0;z-index:10;width:100%;height:70px;padding:0 25px;background-color:rgba(0,0,0,0.7);transition:all .3s;}
.header.top {background-color:transparent;}
.header .box {display:flex;}
.header .box .h-logo-box {width:130px;height:30px;}
/* NAVI */
.header .box .navi {margin-left:30px;}
.header .box .navi-list {display:flex;}
.header .box .navi-list li a {display:inline-block;padding:5px 10px;color:#e5e5e5;}
.header .box .navi-list li a.active {font-weight:600;color:#fff;}
.header .box .navi-list li a:hover {color:rgb(187, 181, 181);}
/* SEARCH */
.header .box .h-search-box {position:relative;}
.header .box .h-search-box .ipt-search {width:300px;height:35px;border:1px solid #ccc;background:url(../images/btn_search.png) no-repeat left 5px center / 20px #000;text-indent:35px;color:#fff;transition:all .3s;}
.header .box .h-search-box .ipt-search.off {width:35px;border:0;background-color:transparent;}

/* BUTTON */
.btn-area {margin-top:30px;text-align:center;}
.btn-more {display:inline-block;width:100%;height:60px;border:1px solid #666;font-size:18px;line-height:60px;}
.btn-detali {display:inline-block;width:180px;height:50px;border-radius:5px;background:rgba(107, 107, 107, 0.8);font-size:20px;color:#fff;}
/* INPUT */
input[type='text'] {text-indent:10px;}
input[type='text']::placeholder {color:rgb(175, 173, 173);}

/* COMMON */
.image {display:inline-block;width:100%;}

/* VISUAL */
.visual-content {position:relative;width:100%;max-height:100vh;overflow:hidden;}
.visual-content .v-txt-box {display:flex;flex-direction:column;justify-content:center;position:absolute;left:25px;z-index:5;width:60%;height:100%;color:#fff;}
.visual-content .v-txt-box .meida {font-size:2vw;}
.visual-content .v-txt-box .tit {font-size:6vw;line-height:1.1;}
.visual-content .v-txt-box .ranking-info {margin-top:20px;font-size:2vw;}
.visual-content .v-txt-box .ranking-info .badge {display:inline-block;width:30px;height:30px;margin-right:10px;padding:3px;border:2px solid #fff;font-size:8px;text-align:center;line-height:1;vertical-align:middle;}
.visual-content .v-txt-box .ranking-info .ranking-txt {vertical-align:middle;}
.visual-content .v-txt-box .desc {margin-top:10px;font-size:1.7vw;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;line-height:1.5;overflow:hidden;text-overflow:ellipsis;}
.visual-content .v-txt-box .btn-detali {margin-top:25px;}
.visual-content .image {opacity:0.7;}

.media-list {width:100%;overflow:auto;white-space:nowrap;}
.media-list li {display:inline-block;width:calc(20% - 40px);border:2px solid #111;border-radius:3px;overflow:hidden;}

/* MOVIE LIST */
/* .movie-item {display:flex;width:100%;height:150px;padding:15px 20px;border-bottom:1px solid #ccc;}
.movie-item .image-box {position:relative;width:85px;height:100%;background:#000;overflow:hidden;}
.movie-item .image-box img {width:100%;opacity:0.8;}
.movie-item .image-box .number {position:absolute;right:5px;bottom:8px;z-index:5;font-size:25px;color:#fff;}
.movie-item .movie-info {width:calc(100% - 85px);padding-left:15px;overflow:hidden;}
.movie-item .movie-info .tit {display:block;width:100%;font-size:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.movie-item .movie-info .desc {margin-top:20px;height:70px;font-size:15px;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;line-height:1.5;overflow:hidden;text-overflow:ellipsis;} */
