@charset "utf-8";
@import './init.css';

/* MOVIE LIST */
.movie-item {display:flex;width:100%;height:150px;padding:15px 20px;border-bottom:1px solid #ccc;}
.movie-item .image-box {position:relative;width:85px;height:100%;background:#000;overflow:hidden;}
.movie-item .image-box img {width:100%;opacity:0.8;}
.movie-item .image-box .number {position:absolute;right:5px;bottom:8px;z-index:5;font-size:25px;color:#fff;}
.movie-item .movie-info {width:calc(100% - 85px);padding-left:15px;overflow:hidden;}
.movie-item .movie-info .tit {display:block;width:100%;font-size:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.movie-item .movie-info .desc {margin-top:20px;height:70px;font-size:15px;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;line-height:1.5;overflow:hidden;text-overflow:ellipsis;}