@charset "utf-8";

html,body {height:100%;}
* {margin:0; padding:0;}
*, ::after, ::before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body		{color:#333; font-size:14px; line-height:18px;}
ul,ol,li	{list-style:none;}
img,hr		{border:none;}
img			{vertical-align:middle;border:0px;}

table 			{border-collapse:collapse; border-spacing:0; width:100%;}
table td img	{vertical-align:middle;}

a			{color:#454545;}
a:link		{text-decoration:none;}
a:visited	{text-decoration:none;}
a:active	{text-decoration:none;}
a:hover		{text-decoration:none;}
body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label {font-family:"나눔바른고딕",NanumBarunGothic,'Malgun Gothic', dotum, Arial, sans-serif;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
input {vertical-align:middle; outline:none;font-size:12px;}
input[type='text'],
input[type='password'] {display:inline-block;border:1px solid #cccccc;text-indent:5px;height:24px;background-color:#fff;color:#333;}
select {display:inline-block;vertical-align:middle;height:24px;border:1px solid #cccccc;background-color:#fff;color:#444;outline:none;font-size:12px;}
textarea {display:inline-block;vertical-align:middle;width:100%;padding:8px 8px; border:solid 1px #cccccc;background-color:#fff;color:#444;outline:none;font-size:12px;}
input[type='file'],
input[type='image'],
input[type='reset'],
input[type='button'],
input[type='submit'] {cursor:pointer;}
input[type='text']::-ms-clear {display: none;}
input[type='password']::-ms-clear {display: none;}
button {border:0 none;background-color:transparent;cursor:pointer}
hr, caption {display:none;position:absolute; left:-9999px; top:-9999px;height:0;text-indent:-1000000000px;font-size:0;}
legend {position:absolute;height:0;font-size:0px;line-height:0;overflow:hidden;text-indent:-9999px;}
i,address,cite,em	{font-style:normal;}
label {cursor:pointer;}
.cusor {cursor:pointer}
fieldset {border:0;}
input:disabled,select:disabled {background:#f6f6f6;}
.hidden {position:absolute;top:0;left:-1000000000000px;width:0;height:0;font-size:0;}
